timeline {
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.timeline ul li {
    margin-bottom: 25px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.point {
    min-width: 20px;
    height: 20px;
    background-color: #be9fe1;
    border-radius: 100%;
    z-index: 2;
    border: 3px #4a294d solid;
    position: relative;
    left: 1px;
    margin: 3px;
}

@media (max-width: 800px) {
    .point {
        min-width: 15px;
        height: 15px;
    }

    html, body {
        font-size: 15px;
    }
}

@media (max-width: 650px) {
    html, body {
        font-size: 14px;
    }
    
    .point {
        min-width: 12px;
        height: 12px;
    }
}

@media (max-width: 450px) {
    html, body {
        font-size: 10px;
    }

    p {
        padding: 10px !important;
    }
}

.timeline ul li .content {
    width: 70%;
    padding: 0 20px;
    padding-left: 0;
}

.timeline ul li .date {
    width: 30%;
    padding: 0 20px;
    padding-right: 0;
    font-weight: normal;
    z-index: 10;
}

.timeline ul li .date h4 {
    background-color: #e1ccec;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 400;
    font-size: larger;
}

.timeline .content .items {
    padding: 10px 20px;
    background-color: #e1d9ec;
    margin-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 10;
}

.timeline ul li .content h3 {
    padding: 10px 20px;
    background-color: #be9fe1;
    margin-bottom: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.timeline::before {
    content: "";
    position: absolute;
    height: 146%;
    width: 2px;
    left: 37.9%;
    background-color: #e5e5e5;
    z-index: -10;
}
.booknow{
    color: #010A44;
    font-weight: 600;
}
.booknow:hover{
    color: #333333;
    text-decoration: underline;
}

@media (max-width: 450px) {
    .timeline::before {
        display: none;
        background-color: #fff !important;
        width: 0px;

    }
}

.timeline p {
    line-height: normal !important;
}
hr.gradient {
    height: 3px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(90deg, rgba(13, 8, 96, 1) 0%, rgba(9, 9, 121, 1) 21%, rgba(6, 84, 170, 1) 51%, rgba(0, 255, 113, 1) 100%);
    height: 3px !important;
    margin: 0 !important;
  }
  .triangle {
    position: relative;
    background: #2c3e50;

  }
  .about-area .about-img{
    background-image: url(../img/hero/dean_tseren.jpg) !important;
  }
  /* section {
    padding-top: 80px;   
    margin-top: -80px;   
  } */

  section {
    scroll-margin-top: 80px; /* Adjust this based on navbar height */
    padding: 10px 20px;      /* Some padding inside the section */
    min-height: 100vh;
  }

.section-padding10{
    padding-top: 50px;
    padding-bottom: 50px;
}
#navigation .btnlink{
    border: none;
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    background-size: 200%;
    transition: 0.6s;
    background-image: linear-gradient(to left, #FF9F67, #ec8b53, #FF9F67);
    background-position: right;
}
#navigation .btnlink:hover{
    color: #704504;
 
    background-image: linear-gradient(to left, #FF9F67, #ec8b53, #FF9F67);
}
.link{
    color: #010A44;
    font-weight: 500;
}
.link:hover{
    color: #891b02;
    text-decoration: underline;
    font-weight: 600;
    
}
#navigation{
    line-height: 15px;
}

  .bullet li{

    list-style:disc !important;
    margin-left: 25px;

  }
  .triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 14px 0 14px;
    border-color: #2c3e50 transparent transparent transparent;
    left: 48.9%;
    transform: translateX(-50%) translateY(100%);
  }